<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!--<ion-back-button></ion-back-button>-->
      <ion-button size="small" shape="round" (click)="closeModal()" color="tertiary">
        <ion-icon slot="start" name="arrow-round-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
        Cerrar Ticket
    </ion-title>

  </ion-toolbar>

</ion-header>
<ion-content padding class="buttons-components-page">
  <div class="ion-no-margin" >
    <ion-item-divider color="primary">ATM: {{stRATM}} - {{stRNombre}}</ion-item-divider>
      <div class="ion-no-margin" >
          <form [formGroup]="onAccionForm">
            <div >
          <ion-list>
            <ion-item>
              <ion-label position="floating" color="dark">Acción</ion-label>
              <ion-select  #T placeholder="Seleccione la Acción"  [(ngModel)]="SlEstado" formControlName="SlEstado"> <ion-select-option  *ngFor="let item of dataAux;" value="{{item.EST_REQ_ID}}">{{item.EST_REQ_NOMBRE}}</ion-select-option> </ion-select>

            </ion-item>
            <ion-item>
              <ion-label position="floating" color="dark">Causa</ion-label>
              <ion-select  #T placeholder="Seleccione la Causa"  [(ngModel)]="SlCausa" formControlName="SlCausa"> <ion-select-option  *ngFor="let item of dataCausa;" value="{{item.MIN_CAUSA_ID}}">{{item.MIN_CAUSA_NOMBRE}}</ion-select-option> </ion-select>

            </ion-item>
            </ion-list>

                  <ion-item-divider color="dark">
                      Evidencia
                    </ion-item-divider>
                    <ion-item-divider>
                      <img  [src]="stbase64ImageAux"  />
                    </ion-item-divider>

                 <ion-button icon-center size="small"  expand="full" color="secondary" ion-button block (click)="FCapturarFoto()"  tappable>

                   <ion-icon class="imgcolor" name="ios-reverse-camera"></ion-icon>TOMAR FOTO
                 </ion-button>

                 <ion-item-divider color="dark">
                     Detalle
                 </ion-item-divider>
                 <ion-item>
                   <ion-label position="floating"></ion-label>
                   <ion-textarea rows="8" cols="20" formControlName="datText" [(ngModel)]="datText"></ion-textarea>
                 </ion-item>
                 <ion-button icon-center size="small"  expand="full" color="secondary" ion-button block (click)="startListening()" tappable>
                   <ion-icon class="imgcolor" name="mic"  ></ion-icon>ACTIVAR MICRÓFONO
                 </ion-button>






            </div>
          </form>
        </div>

    <ion-button icon-center   expand="full" color="secondary" ion-button block (click)="SrIngresar(onAccionForm)" [disabled]="!onAccionForm.valid" tappable>
      <ion-icon class="imgcolor" name="checkmark-circle-outline" style="zoom:2.0;" ></ion-icon>Guardar Registro
    </ion-button>





</div>


</ion-content>
