<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!--<ion-back-button></ion-back-button>-->
      <ion-button size="small" shape="round" (click)="closeModal()" color="tertiary">
        <ion-icon slot="start" name="arrow-round-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
        Tickets
    </ion-title>

  </ion-toolbar>

</ion-header>
<ion-content padding class="buttons-components-page">
  <div class="ion-no-margin" >
    <ion-item-divider color="primary">Tickets Abiertos</ion-item-divider>
      <div class="ion-no-margin" >
        <ion-item class="bg-white" *ngFor="let dat of dataAux">
            <!--<ion-icon name="keypad" slot="start"></ion-icon>-->
            <ion-label>
              <h2 no-margin class="fw500 no-margin">
                <ion-text color="dark">{{dat.MIN_SUBCAT_NOMBRE}}</ion-text>
              </h2>

              <h6 no-margin class="fw500 no-margin">
                <ion-text color="dark">Código: {{dat.MINUTA_CODIGO}}</ion-text>
              </h6>

              <p class="lpuesto">
                <ion-text class="ion-text-justify" text-wrap>ACOMPAÑAMIENTO: {{dat.ACOMPANAMIENTO}}</ion-text>
              </p>

              <p class="lpuesto">
                <ion-text class="ion-text-justify" text-wrap>PROVEEDOR: {{dat.PROV_NOMBRE}}</ion-text>
              </p>

              <p class="lpuesto">
                <ion-text class="ion-text-justify" text-wrap>HORA: {{dat.HORA_PROG}}</ion-text>
              </p>


            </ion-label>

           <ion-note slot="end" color="primary" (click)="presentreqdetalle(dat.MINUTA_ID)">Ver</ion-note>
           <ion-note slot="end" color="primary" (click)="getRevisaTAGAccion(dat.MINUTA_ID)" *ngIf="accionvisible">Cerrar</ion-note>

          </ion-item>
        </div>
      
</div>


</ion-content>
