<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'app.pages.Acercade.title.header' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn" no-margin>
  <div text-center padding>
    <img src="assets/img/ionic4start-ico.png">
  </div>

  <ion-card  no-margin>
    <ion-card-content no-margin>
      <!--  <h1 margin-bottom>
          <ion-text color="primary"><strong>Thomas Oberón</strong></ion-text><br />
        </h1>
  -->
        <ion-text class="ion-text-justify" text-wrap no-margin>
          <div text-wrap>
            <h6>Es nuestro Ecosistema Digital que estandariza las operaciones de Thomas Greg agregando valor a nuestro servicio, con Thomas Oberón los clientes y usuarios obtienen información en tiempo real de actividades y novedades en campo.</h6><br />

          </div>

        </ion-text>

        <ion-text class="ion-text-justify" text-wrap no-margin>
          <div text-wrap>
            <h6>Toda la Data recopilada por los dispositivos minuto a minuto alimentan nuestros Robots de análisis de información, previamente programados con modelos predictivos, capaces de determinar la probabilidad de eventos no deseados o desviaciones del proceso, información fundamental en el análisis de riesgos y toma de decisiones.</h6>

          </div>

        </ion-text>
      </ion-card-content>
  </ion-card>


</ion-content>
