ion-slides {
    height: 100%;
  }

  .toolbar-background {
    background: var(--ion-color-primary) !important;
    border-color: transparent;
  }

  .slide-zoom {
    height: 99vh;
  }

  .slide-title {
    margin-top: 0;
  }

  .slide-image {
    // max-height: 50%;
    max-width: 128px !important;
    margin: 0 0 18px;
  }


  .theme-bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    opacity: .4; //.12
    background-image: url("/assets/img/Session.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
